syntax: glob

# rendered docs
docs/html
docs/pdf
docs/User_Guide/tmp
docs/publican-diffingo/tmp

# po
po/POTFILES
po/missing
po/stamp-it
po/*.gmo
po/*.mo
po/*.pot

tests/

# ignore these file types
*.exe
*.pyc
*.pyo
*.old
*.bak
*.gz
*.rpm
*.omf
