[Desktop Entry]
Name=fwbackups
GenericName=Backup/Restore
Comment=Backup or restore your files
Exec=fwbackups
Icon=fwbackups
Terminal=false
Type=Application
Categories=GTK;System;
#MimeType=text/plain
Version=1.0
