[Desktop Entry]
Name=fwbackups
Comment=Backup or restore your files
Exec=/usr/bin/fwbackups --start-minimized
Type=Application
Version=1.0
X-GNOME-Autostart-enabled=true


# Translations
Comment[gl]=Copia ou restaura os teus ficheiros
Name[gl]=fwbackups
Comment[sv]=Säkerhetskopiera eller återställ dina filer
Name[sv]=fwbackups
Comment[hr]=Sigurnosna kopija ili vraćanje vaših datoteka
Name[hr]=fwbackups
Comment[pt_BR]=Faça backup ou restaure seus arquivos
Name[pt_BR]=fwbackups
Comment[ru]=Создание резервных копий и восстановление ваших файлов
Name[ru]=fwbackups
Comment[nb_NO]=Sikkerhetskopier eller gjenopprett dine filer
Name[nb_NO]=fwbackups
Comment[is]=Afrita eða endurheimta skrár
Name[is]=fwbackups
Comment[sq]=Ruaj ose rikthe skedarët ruaj
Name[sq]=fwbackups
Comment[cs]=Zálohujte a obnovujte své soubory
Name[cs]=fwbackups
Comment[da]=Sikkerhedskopiér og gendan dine filer
Name[da]=fwbackups
Comment[de]=Sichern oder stellen Sie Ihre Dateien wieder her
Name[de]=fwbackups
Comment[uk]=Створення резервних копій і відновлення Ваших файлів
Name[uk]=fwbackups
Name[lt]=fwbackups
Comment[th]=การสำรองข้อมูลหรือกู้ข้อมูลของคุณ
Name[th]=fwbackups
Comment[tr]=Dosyalarınızı yedekleyin ya da geri yükleyin
Name[tr]=fwbackups
Comment[es]=Copia de seguridad o restaurar tus archivos
Name[es]=fwbackups
Comment[et]=Failide varundamine ja taastamine
Name[et]=fwbackups
Comment[ms]=Sandar atau pulihkan fail anda
Name[ms]=fwbackups
Comment[pt_PT]=Efetue cópia de segurança ou restaure os seus ficheiros
Name[pt_PT]=fwbackups
Comment[fr]=Sauvegardez ou restaurez vos données
Name[fr]=fwbackups
Comment[nl]=Back-up of herstel uw bestanden
Name[nl]=fwbackups
