[Desktop Entry]
Name=fwbackups
GenericName=Backup/Restore
Comment=Backup or restore your files
Exec=fwbackups
Icon=fwbackups
Terminal=false
Type=Application
Categories=GTK;System;Archiving;Utility;
Keywords=backup;archive;archiving;
#MimeType=text/plain
Version=1.0


# Translations
Comment[gl]=Copia ou restaura os teus ficheiros
GenericName[gl]=Copiar/Restaurar
Name[gl]=fwbackups
Icon[gl]=fwbackups
Comment[de]=Sichern oder stellen Sie Ihre Dateien wieder her
GenericName[de]=Sichern/Wiederherstellen
Name[de]=fwbackups
Icon[de]=fwbackups
Comment[hr]=Napravi sigurnosnu kopiju ili vrati datoteke
GenericName[hr]=Sigurnosna kopija/Vraćanje
Name[hr]=fwbackups
Icon[hr]=fwbackups
Comment[id]=Cadangkan atau pulihkan berkas-berkasmu
GenericName[id]=Cadangkan/Pulihkan
Comment[is]=Afrita eða endurheimta skrár
GenericName[is]=Afrita/Endurheimta
Name[is]=fwbackups
Icon[is]=fwbackups
Comment[sq]=Ruaj ose rikthe skedarët ruaj
GenericName[sq]=Ruaj/Rikthe
Name[sq]=fwbackups
Icon[sq]=fwbackups
Comment[pt_PT]=Efetue cópia de segurança ou restaure os seus ficheiros
GenericName[pt_PT]=Copiar/Restaurar
Name[pt_PT]=fwbackups
Icon[pt_PT]=fwbackups
Comment[sv]=Säkerhetskopiera eller återställ dina filer
GenericName[sv]=Säkerhetskopiera/Återställ
Name[sv]=fwbackups
Icon[sv]=fwbackups
Comment[ru]=Создание резервных копий и восстановление ваших файлов
GenericName[ru]=Резервирование/Восстановление
Name[ru]=fwbackups
Icon[ru]=fwbackups
Name[lt]=fwbackups
Icon[lt]=fwbackups
Comment[th]=สำรองข้อมูลหรือกู้ข้อมูลของคุณ
GenericName[th]=สำรองข้อมูล/กู้ข้อมูล
Name[th]=fwbackups
Icon[th]=fwbackups
Comment[tr]=Dosyalarınızı yedekleyin ya da geri yükleyin
GenericName[tr]=Yedekle / Geri Yükle
Name[tr]=fwbackups
Icon[tr]=fwbackups
Name[es]=fwbackups
Icon[es]=fwbackups
Comment[uk]=Створення резервних копій та відновлення Ваших файлів
GenericName[uk]=Резервування/Відновлення
Name[uk]=fwbackups
Icon[uk]=fwbackups
Comment[ms]=Sandar atau pulihkan fail anda
GenericName[ms]=Sandar/Pulih
Name[ms]=fwbackups
Icon[ms]=fwbackups
Comment[fr]=Sauvegardez ou restaurez vos données
GenericName[fr]=Sauvegarder/Restaurer
Name[fr]=fwbackups
Icon[fr]=fwbackups
Comment[et]=Failide varundamine ja taastamine
GenericName[et]=Varunda/taasta
Name[et]=fwbackups
Icon[et]=fwbackups
Comment[nl]=Back-up of herstel uw bestanden
GenericName[nl]=Back-up/Herstel
Name[nl]=fwbackups
Icon[nl]=fwbackups
